* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #210000;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  max-width: 48.8em;
  margin-left: auto;
  margin-right: auto;
  color: #f7f5f0;
  font: 300 18px "open_sanslight", sans-serif; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }
  @media (max-width: 537px) {
    body {
      font-size: 16px; } }

a, a:hover, a:visited {
  color: #b38936; }

h2 {
  font: 300 1.33em 'crimson_textroman', serif; }
  @media (max-width: 537px) {
    h2 {
      font-size: 1.1em; } }

p.error {
  color: red; }

strong {
  font-weight: 400;
  font-family: 'open_sansregular', sans-serif; }

header {
  padding: 0 1000px;
  margin: 0 -1000px;
  position: relative;
  height: 4.42em;
  background-color: #d6c473;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #d6c473), color-stop(20.5%, #a98d26), color-stop(100%, #b29424));
  background-image: -webkit-radial-gradient(60.25% 86.84%, circle, #d6c473 0%, #a98d26 20.5%, #b29424);
  background-image: radial-gradient(  circle at 60.25% 86.84%, #d6c473 0%, #a98d26 20.5%, #b29424); }
  header:before, header:after {
    content: "";
    display: table; }
  header:after {
    clear: both; }
  @media (max-width: 537px) {
    header {
      height: 2.92em;
      padding: 0;
      margin: 0;
      background-color: #d6c473;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #d6c473), color-stop(52.5%, #a98d26), color-stop(100%, #b29424));
      background-image: -webkit-radial-gradient(87.75% 80.84%, circle, #d6c473 0%, #a98d26 52.5%, #b29424);
      background-image: radial-gradient(  circle at 87.75% 80.84%, #d6c473 0%, #a98d26 52.5%, #b29424); } }
  header h1 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    height: 100%;
    max-width: 24.375em;
    background: url(../img/OMRS13.svg) no-repeat;
    background-position: 0 50%;
    background-size: contain; }
    header h1:last-child {
      margin-right: 0; }
  header #tree {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%;
    height: 100%;
    background: url(../img/omrs13-suntree.png) right bottom/100% auto no-repeat; }
    header #tree:last-child {
      margin-right: 0; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      header #tree {
        background-image: url(../img/omrs13-suntree@2x.png); } }

#wrap {
  position: relative;
  margin: 2em auto; }
  #wrap:before, #wrap:after {
    content: "";
    display: table; }
  #wrap:after {
    clear: both; }
  @media (max-width: 537px) {
    #wrap {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      margin: 0 auto; }
      #wrap:last-child {
        margin-right: 0; } }

section {
  padding: 1.8em 2.2em;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  section:last-child {
    margin-right: 0; }
  @media (max-width: 537px) {
    section {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%; }
      section:last-child {
        margin-right: 0; } }
  section:before, section:after {
    content: "";
    display: table; }
  section:after {
    clear: both; }
  section#preface {
    background: #210000;
    padding-top: 0em; }
    @media (max-width: 537px) {
      section#preface {
        padding-top: 1.8em; } }
  section#entry {
    background: #f7f5f0;
    color: #210000;
    box-shadow: 0 1px 6px #210000; }

#conference-logo {
  max-width: 100%; }

form input, form button {
  padding: 0.3em 0.55em;
  margin: auto auto 0.6em;
  border-radius: 0.3em;
  background: #f7f5f0;
  color: #210000;
  border: 1px solid #b38936;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  form input:focus, form input:active, form button:focus, form button:active {
    border-color: #3d1e0b; }
  form input[type="tel"], form button[type="tel"] {
    box-shadow: none;
    width: 100%;
    font: 300 1.95em 'open_sanslight', sans-serif;
    display: block;
    outline: none; }
  form input[type="submit"], form button[type="submit"] {
    -webkit-appearance: none;
    float: right;
    border-radius: 0.94em;
    font-size: 1em;
    cursor: pointer; }
  form input #status:after, form button #status:after {
    content: "\2192"; }
  form input #status.loading:after, form button #status.loading:after {
    content: "";
    background: url(../img/loader.gif) no-repeat;
    min-height: 16px;
    min-width: 16px;
    display: inline-block;
    position: relative;
    top: 2px; }
  form input:before, form input:after, form button:before, form button:after {
    content: "";
    display: table; }
  form input:after, form button:after {
    clear: both; }
