@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

// Color scheme: https://kuler.adobe.com/OMRS13-eventsopenmrsorg-color-theme-2896285/
$black:         #210000;
$dark:          #3d1e0b;
$white:         #f7f5f0;
$gold:          #B38936;
$warm-white:    #fdf9cc;

// Media queries
$singlecolumn:     "(max-width: 537px)";
$wrapheader:          "(max-width: 537px)";
$res2x:               "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)";
// $singlecolumn:        "(max-width: 880px)";

@mixin clearfix {
    &:before, &:after {
        content:"";
        display:table;
    }
   
    &:after {
        clear: both;
    }
}

$base-font-size: 18px;
body {
    background-color: $black;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
    @include outer-container();
    
    color: #f7f5f0;
    font: 300 $base-font-size 'open_sanslight', sans-serif;
    
    @media #{$singlecolumn} {
        font-size: 16px;
    }
}

a, a:hover, a:visited {
    color: $gold;
}

h2 {
    font: 300 1.33em 'crimson_textroman', serif;
    
    @media #{$singlecolumn} {
        font-size: 1.1em;
    }
}

p {
    &.error {color: red;}
}

strong {
    font-weight: 400;
    font-family: 'open_sansregular', sans-serif;
}

header {
    padding: 0 1000px;
    margin: 0 -1000px;
    position: relative;
    height: 4.42em;

    // background: #b29424;
    
    @include radial-gradient(circle at 60.25% 86.84%, #d6c473 0%,
        #a98d26 20.5%, #b29424);
    
    @include clearfix;

    @media #{$wrapheader} {
        height: 2.92em;
        padding: 0;
        margin: 0;
        @include radial-gradient(circle at 87.75% 80.84%,
            #d6c473 0%, #a98d26 52.5%, #b29424);
    }
    
    h1 {
        @include span-columns(10);

        // margin: 0 auto;
        margin: 0;
        padding: 0;
        text-indent: -9999px;
        // position: relative;
        
        height: 100%;
        max-width: em(780, 32);
        
        background: url(../img/OMRS13.svg) no-repeat;
        background-position: 0 50%;
        // background-size: auto 95%;
        background-size: contain;
    }
    
    #tree {
        @include span-columns(2);
        
        height: 100%;
        background: url(../img/omrs13-suntree.png)
            right bottom / 100% auto no-repeat;
        
        @media #{$res2x} {
            background-image: url(../img/omrs13-suntree@2x.png);
        }
    }
}

#wrap {
    position: relative;
    margin: 2em auto;

    @include clearfix;
    
    @media #{$singlecolumn} {
        @include span-columns(12);
        // max-width: 24.4em;
        margin: 0 auto;
    }
}

section {
    padding: 1.8em 2.2em;
    @include span-columns(6);
    
    @media #{$singlecolumn} {
        @include span-columns(12);
    }
    
    @include clearfix; 
    
    &#preface {
        background: $black;
        padding-top: 0em;
        
        @media #{$singlecolumn} {
             padding-top: 1.8em;
        }
    }
    &#entry {
        background: $white;
        color: $black;
        box-shadow: 0 1px 6px $black;
        
    }
}

#conference-logo {
    max-width: 100%;
}

form {
    input, button {
        padding: 0.3em 0.55em;
        margin: auto auto 0.6em;
        border-radius: 0.3em;
        background: $white;
        color: $black;
        border: 1px solid $gold;
        
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        
        &:focus, &:active {
            border-color: $dark;
        }
        
        &[type="tel"] {
            box-shadow: none;
            width: 100%;
            font: 300 1.95em 'open_sanslight', sans-serif;
            display: block;
            
            outline: none;
        }
        
        &[type="submit"] {
            -webkit-appearance: none;
            float: right;
            border-radius: (1.88em/2);
            
            font-size: 1em;
            cursor: pointer;
            
            &:active {
             //   background: darken($white, 10%);
            }
        }
        
        #status:after {
            content: "\2192";
        }
            
        #status.loading:after {
             content: "";
             background: url(../img/loader.gif) no-repeat;
             min-height: 16px;
             min-width: 16px;
             display: inline-block;
             position: relative;
             top: 2px;
        }

        @include clearfix;
    }
   
   
  
}
